---
import { render, type CollectionEntry } from "astro:content";
import Datetime from "./Datetime.astro";
import { getPath } from '@/utils/getPath';

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  datePosition?: "top" | "bottom";
}

const { data, datePosition = "top", id, filePath } = Astro.props;

const { pubDatetime, modDatetime, timezone } = data;

const { Content } = await render(Astro.props);
const link = getPath(id, filePath);
---

<div
  class="post-card app-prose mx-auto mb-6 max-w-app rounded-lg border border-gray-200 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800 prose-pre:bg-(--shiki-light-bg) dark:prose-pre:bg-(--shiki-dark-bg) break-inside-avoid"
>
  {
    datePosition === "top" && (
      <Datetime size="lg" {pubDatetime} {modDatetime} {timezone} link={link} />
    )
  }
  <Content />
  {
    datePosition === "bottom" && (
      <Datetime {pubDatetime} {modDatetime} {timezone} link={link} />
    )
  }
</div>

<style>
  .post-card:first-of-type {
    margin-top: 0 !important;
  }
</style>
